:root{
    font-size: 60%;


    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;



}
* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
html , body , #root {
    height: 100vh;
}
body{
    background-color: var(--color-background);
}
#root{
    display: flex;
    align-items: center;/*Alinhamento vertical*/
    justify-content: center;/*Alinhamento horizontal*/
}
body, input , button , textarea {
    font : 500 1.6rem Poppins;
}
.conteiner{
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}
